body{
    background-color: #f4f4f4;
    color: gray;
    font:normal 16px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin: auto;

}

br{
    content:' ';
}
br:after{
    content:' ';
}
.button{
    background-color: black ;
    color: #fff;
    padding: 10px 15px;
    border:none;
    margin-left: 45%;
    margin-top: none;
    letter-spacing: 2px;  
}
.button:hover{
    background:red;
    color: #fff
}
.container{
    background-color: #616161;
    border-color: #070303;
    font: normal 160.5% Flexo-Regular, arial, sans-serif;
    color: rgb(247, 246, 245);
    padding-top: 3px;
    padding-block-end: 1%;
   /* border: 5px black solid;*/
   border-width: 1px 0 0 0;
    width: 100%;
      
}
.my-form{
    padding: 10px;
}
.my-form label{
    display: block;
    padding-bottom: 5px;
    padding-right: 1px;
    /*background-color: blue;*/
}
.form-prompt{
    display: block;
    background-color: seagreen;
    margin: 0% 10% 0% 10%;
    padding-left: 0px;
    border-radius: 40px;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
}
.form-prompt:hover{
    background: darkgreen;
}
.my-form input[type="text"]{
    padding: 8px; /* deals with height of box */
    width: 70%; /* length of box */
    margin:auto;  
}
.form-name{
    margin-top: 25px;
    margin-left: 20px;
    float: left;
    padding-left: 10%;
}
.form-number{
    float: right;
    padding-right: 15%;
    margin-top: 10px;
    padding-left: 30px;
    
}
.container #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.Pokedex{
    background-color: orangered;
    margin: 0 auto;
    font-family: rubik;
    padding: 40px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr)); 
    grid-gap: 20px;
}
.card {
    
    list-style: none;
    background-color: #f4f4f4;
    color: #222222;
    text-align: center;
}

.card-title{
    font-size: 32 px;
    font-weight: normal;
}

.card-type{
    font-weight: lighter;
    color: #666666;
    margin-top: 5px;
}

.footer{
    width:100%;
    display: block;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #18181a;
}
.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 80%;
   
}



